.button {
    cursor: pointer;
    font-weight: 400;
    line-height: 1;

    &--fontWeight-normal {
        font-weight: normal;
    }

    padding: 0.8em 1em;

    &--zeropadding {
        padding: 0 0;
    }

    position: relative;
    color: var(--c-orange);
    display: flex;
    align-items: center;

    &__bkg {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background-color: currentColor;
        opacity: 0.8;
        will-change: opacity;
        transition: opacity 200ms;
        border-radius: 999px;
    }

    &--has-icon-left {
        padding-left: 2.8em;
    }

    &--has-icon-right {
        padding-right: 2.8em;
    }

    &__icon {
        color: var(--c-orange);
        will-change: opacity;
        transition: opacity 200ms ease-in-out;
        display: block;
        background-color: var(--c-bkg);
        border-radius: 50%;
        padding: 0.4em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0.4em;

        &--right {
            left: auto;
            right: 0;
            margin-right: 0.4em;
        }
    }

    &--notext {
        padding: 0.5em;

        .button__icon {
            &--left {
                margin-right: 0;
            }

            &--right {
                margin-left: 0;
            }
        }
    }

    &--size {
        &-small {
            font-size: 0.8rem;
        }

        &-large {
            font-size: 1.5rem;
        }
    }

    &--disabled {
        pointer-events: none;
        opacity: 0.5;

        .button__bkg {
            background-color: var(--c-p);
        }

        .button__icon {
            color: var(--c-p);
        }
    }

    transition: all 200ms ease-in-out;

    &:hover {
        .button__bkg {
            opacity: 1;
        }

    //background-color: var(--c-hellgrau);
    }

    &:focus {
        outline: none;
        @mixin a11y-focus;
    }

    &__loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 1em;
        height: 1em;
        color: #fff;
        opacity: 0;
        will-change: opacity;
        transition: opacity 200ms ease-in-out;
        pointer-events: none;
    }

    &__content {
        position: relative;
        z-index: 1;
        color: #fff;
        opacity: 1;
        will-change: opacity;
        transition: opacity 200ms ease-in-out;
    }

    &--loading {
        .button {
            &__loader {
                opacity: 1;
            }

            &__content,
            &__icon {
                opacity: 0;
            }
        }
    }

    &--color-black {
        color: var(--c-p);

        .button__icon {
            color: var(--c-p);
        }
    }
}
