@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Black.woff2') format('woff2'),
    url('./font/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Bold.woff2') format('woff2'),
    url('./font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Medium.woff2') format('woff2'),
    url('./font/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.woff2') format('woff2'),
    url('./font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Light.woff2') format('woff2'),
    url('./font/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-LightItalic.woff2') format('woff2'),
    url('./font/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-MediumItalic.woff2') format('woff2'),
    url('./font/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-BlackItalic.woff2') format('woff2'),
    url('./font/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Italic.woff2') format('woff2'),
    url('./font/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-BoldItalic.woff2') format('woff2'),
    url('./font/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-ThinItalic.woff2') format('woff2'),
    url('./font/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Thin.woff2') format('woff2'),
    url('./font/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
:root {
  --fs: 1rem;
  --fs-small: 0.9rem;
  --fs-xsmall: 0.7rem;
  --fs-big: 1.2rem;
  --font: Roboto, sans-serif;
}

html {
  //font-size: 2vmin;
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 100%;
  line-height: 1.4;
  color: var(--c-p);
}

b {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-family: var(--font);
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

/* button reset */
button {
  background-color: transparent;
  border: none;
  padding: 0;
}

a {
  color: var(--c-primary);
}

.fs--small {
  font-size: var(--fs-small);
}

.fs--xsmall {
  font-size: var(--fs-xsmall);
}

.code,
code {
  font-family: var(--font-mono);
}

button {
  color: var(--c-p);
}
