.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 var(--space-grid);
}

.error {
  margin-bottom: var(--space-grid);
}

.description {
  margin-top: var(--space-grid);
  width: 80%;

  p + p {
    margin-top: 0.5rem;
  }
}
