.root {
}

.title {
  margin-bottom: var(--space-grid-half);
}

.titleProducts {
  margin-top: var(--space-grid);
}

.list {
  display: grid;
  grid: auto / repeat(4, 1fr);
  grid-gap: var(--space-grid);
}

.listItem {
}
