.root {
  display: inline-block;
  line-height: 1;

  svg {
    text-align: center;
    vertical-align: middle;
    fill: currentColor;
    height: 1em;
    width: 1em;
    display: block;
  }
}

.hasBorder {
  border: 1px solid currentColor;
  height: 1em;
  line-height: 1em;
  width: 1em;
  text-align: center;

  svg {
    height: 0.6em;
    vertical-align: inherit;
  }
}

.isRound {
  border-radius: 9999px;
}

.isCircle {
  border: 1px solid currentColor;
  border-radius: 50%;

  svg {
    transform: scale(0.7);
  }
}
