.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 6rem;
  position: relative;
  z-index: 20;
  border-bottom: 1px solid var(--c-border-light);
}

.main {
  height: calc(100vh - 6rem);
  display: flex;
}

.error {
  margin: 0 auto;
  align-self: center;
  width: 90%;
  max-width: 600px;
}

.pen {
  padding-top: var(--space-grid);
  margin: 0 var(--space-grid);
  flex: 1 1 30vw;
  height: 100%;
}

.filefinder {
  padding-top: var(--space-grid);
  margin: 0 var(--space-grid);
  height: 100%;
  flex: 1 1 70vw;
}

.pen,
.filefinder {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 200ms;
    will-change: background-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--c-border-dark);
    }
  }
}

.nav {
  display: flex;
  margin-bottom: var(--space-grid);
}

.navElement {
  font-size: 1.5rem;
  padding: 0;

  & + .navElement {
    margin-left: 1em;
  }
}

.navElementActive {
  font-weight: 999;
}

.mytiptois {
  flex-grow: 1;
}
