.root {
  fill: transparent;
  stroke: currentColor;
  stroke-width: 0.15em;
  animation: loader-dash 2s ease infinite, loader-rotate 2s linear infinite;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -93;
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
